*{
    box-sizing: border-box;
}
body {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    
    
}
header{
margin: 0 auto;
padding: 30px;
position: relative;
background-color:rgba(165, 42, 42, 0.87);
font-family: 'Zen Loop', cursive;
}
header div {
    display: inline-block;
}
header div h1{
    font-size: 80px;
    font-weight: bolder;
    color:antiquewhite;
}

header div img{
    width: 40%;
}
header ul{
    position: absolute;
    right: 0;
    bottom: 20px;
}
header nav ul li {
    font-family: 'Zen Loop', cursive;
    display: inline-block;
    font-size: 50px;
    padding: 20px;
   

}
header nav ul li a{
    text-decoration: none;
    color:antiquewhite;
}
main{
    margin: 0 auto;
    position: relative;
    background-image: url("../img/photo-1463797221720-6b07e6426c24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    height: 800px;
}
#form{
    position: absolute;
    right: 42%;
    padding-top: 50px;
}

#form fieldset {
    border: solid 5px white;
    margin: auto;
     width: 75%; 
    padding: 20px; 
     align-content: center;
    border-radius: 7px;
    word-spacing: 2px;
  }
  
  legend {
    color: rgb(252, 253, 250);
    text-shadow: 2px 2px 4px rgb(15, 15, 14);
    font-family: 'Zen Loop', cursive;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 4px;
  }
  button{
      margin-top: 20px;
      margin-left: 40px;
  }
  
  #ctable{
      position: absolute;
      width: 80%;
      
      right: 10%;
      top: 400px;
  }
  table{
    width: 100%;
    border: rgb(65, 3, 3) 5px;
    border-style: solid;
   }
th, td {
    border: 2px solid rgb(65, 3, 3);
    text-align: center;
  } 
  table tr{
      height:50px;
      border: 2px solid rgb(247, 243, 243);
    text-align: center;
    background-color: black;
    color: blanchedalmond;
   
  } 
  table tr:hover {
      color: black;
      background-color: cornsilk;
  }
  td:hover{
      color: rgb(241, 241, 241);
      background-color: rgb(206, 13, 212);
  }
  
  header nav ul li:hover{
      background-color: antiquewhite;
  }
  header nav ul li a:hover {
      color: rgba(165, 42, 42, 0.87);;
  }
  